.card__btn {
  display: block;
  background-color: #00000083;
  color: white;
  border: none;
  padding: 0.2em 1.2em;
  font-size: 1.5rem;
  border-radius: 0.7em;
  text-align: center;
  font-weight: 600;
  transition: transform 100ms ease;
}
.card__btn:hover {
  transform: scale(1.12);
  background-color: black;
  box-shadow: 0 0 1.5em #0004;
}