.card__phrase {
  font-weight: 900;
  line-height: 1.5;
  font-size: 1.5rem;
  color: rgb(2, 2, 2);
  line-height: 1.5em;
  font-style: italic;
}

.card__phrase::after {
  content: '"';
}

.card__phrase::before {
  content: '"';
}

.card__author {
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  font-style: italic;
  color: rgb(234, 234, 234);
  text-shadow: 0.1em 0.1em 0.1em rgb(65, 61, 61); 
  text-align: right;
}