.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.app__title {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em rgb(65, 61, 61); 
  color: rgb(6, 7, 7); 
}
.app__card {
  width: 100%;
  max-width: 500px;
  background-color: rgba(100, 123, 131, 0.7);
  padding: 1.5em 2em;
  border-radius: 0.8em;
  display: grid;
  gap: 1em;
  box-shadow: 0.3em 0.3em 0.5em rgb(36, 45, 48);
}